<section>
  <div class="container1   col-12">
    <div class="relay_points d-flex">
      <%= render "shared/relay_point" %>
     </div>
  </div>
</section>
<hr>

<%= render "shared/payment_method"%>
