<section class="section__validation">
    <div class="container-small">
      <div class="shadow-lg bg-body modal__validation">
        <p class="section__title">Votre demande de paiement a été<br> enregistrée avec succès<p>
        <%= link_to "Retour à l'accueil", root_path, class: "btn btn-primary" %>
      </div>
    </div>
</section>

<!--
<section class="section__validation_payment">
    <div class="container-large">
        <h1 class="section__validation_payment--title">Votre demande de paiementa été<br> enregistrée avec succès</h1>

        <div class="validation__payement_details">
            <h3>Détails du paiement</h2>
            <hr>
            <div class="validation__payement_details--infos">
                <div class="payement__details_infos--site"><p>Adresse URL:</p><p>https://gaspy.com</p></div>
                <div class="payement__details_infos--site"><p>BOUTIQUE :</p><p>GASPY</p></div>
                <div class="payement__details_infos--site"><p>Identifiant du marchand</p><p>xxxxxx</p></div>
                <div class="payement__details_infos--site"><p>Référence commande :</p><p>qc-77514</p></div>
            </div>
        </div>

        <div class="validation__payement_details">
            <h3>CARTE BANCAIRE : xx EUR</h2>
            <hr>
            <div class="validation__payement_details--infos">
                <div class="payement__details_infos--site"><p>Date / heure:</p><p>https://gaspy.com</p></div>
                <div class="payement__details_infos--site"><p>Numéro de carte :</p><p>xxxxxxxxxxxx0057</p></div>
                <div class="payement__details_infos--site"><p>Numéro d'autorisation :</p><p>3fe4e5</p></div>
                <div class="payement__details_infos--site"><p>Numéro de contrat :</p><p>5786532 011</p></div>
                <div class="payement__details_infos--site"><p>Type :</p><p>DEBIT VADS</p></div>
                <div class="payement__details_infos--site"><p>N° de transaction CB :</p><p>515734</p></div>
                <div class="payement__details_infos--site"><p>Usage :</p><p>Débit</p></div>
            </div>
        </div>
    </div>
    <div class="validation__payement_close"><%= link_to "Retour à l'accueil", root_path, class: "validation__payement_close-btn" %></div>
</section>
-->
