<div class="countainer">

    <div class="paiement_address">
        <p class="paiement_address--user">
            <strong>Facturation :</strong>
            <%=current_user.first_name%> <%=current_user.last_name%> - <%=current_user.address%>
        </p>
        <button class="paiement_address--btn">MODIFIER</button>
    </div>
    <hr>

    <div class="paiement_basket">
        <div>
            <p>
                Votre panier(nb article)
            </p>
            <p>
                (Voir détails)
            </p>
        </div>
    </div>

    <div class="paiement_methode">

    </div>


</div>
