<div class="container2">
  <div class="box2 ">
    <div class="box border">
      <i class="icon1 fa-regular fa-credit-card"></i>
    </div>
    <div class="box border">
      <i class="icon2 fa-brands fa-cc-paypal"></i>
    </div>
    <div class="box border">
      <i class="icon3 fa-solid fa-coins"></i>
    </div>
  </div>
</div>
<hr>
<h5 class="titre">Choisissez votre moyen de récupération</h5>
<div class="paiement_mode border">
<p class="underline">Retrait en magasin : #ecrire un liste de magasin</p>
</div>
<div class="paiement_mode border">
<p class="underline">Point relais : #interpolation du point relais choisi au dessus </p>
</div>
