<form>
    <i class="fa-regular fa-credit-card"></i> <label for="cb">CARTE BANCAIRE: </label> <input type="radio" id="cb" name="cb"><br>

    <i class="fa-brands fa-cc-paypal"></i><label for="pp">PAYPAL: </label> <input type="radio" id="pp" name="pp"><br>

    <i class="fa-solid fa-coins"></i><label for="cs">ESPECES: </label> <input type="radio" id="cs" name="cs">
</form>


<div>
    <details>
        <summary>
            <p><i class="fa-regular fa-credit-card"></i> CARTE BANCAIRE:</p>
        </summary>

        <summary>
            <p> <i class="fa-brands fa-cc-paypal"></i> CARTE BANCAIRE:</p>
        </summary>

        <summary>
            <p><i class="fa-solid fa-coins"></i> CARTE BANCAIRE:</p>
        </summary>
    </details>
</div>
