<div class="box border">
<i class="fa-regular fa-credit-card"></i>
</div>
<div class="box border">
<i class="fa-brands fa-cc-paypal"></i>
</div>
<div class="box border">
<i class="fa-solid fa-coins"></i>
</div>
