<div class="payment_methods">
  <label>
    <input type="radio" name="payment_method" class="card-input-element" />
    <div class="panel-default card-input">
      <i class="icon1 fa-regular fa-credit-card"></i>
      <p>Carte de crédit</p>
    </div>
  </label>
  <label>
    <input type="radio" name="payment_method" class="card-input-element" />
    <div class="panel-default card-input">
      <i class="icon2 fa-brands fa-cc-paypal"></i>
      <p>PayPal</p>
    </div>
  </label>
  <label>
    <input type="radio" name="payment_method" class="card-input-element" />
    <div class="panel-default card-input">
      <i class="icon3 fa-solid fa-coins"></i>
      <p>Espèces </p>
    </div>
  </label>
</div>