<div class="container">
    <div class="relay_point__box">
        <h2>LIVRAISON </h2>
    </div>

    <div class="relay_point__box--card">
        <% @relay_points.each do |relay| %>
            <div class="relay_point__relay">
                <h4>POINT RELAIS</h4>
                <p class="relay_point__relay--img"><i class="fa-solid fa-map-location-dot"></i></p>
                <hr>
                <div class="relay_point__relay--infos">
                    <p><i class="fa-solid fa-address-book"></i> <%= relay.name %><br></p>
                    <p><i class="fa-solid fa-map"></i>  <%= relay.address %><br></p>
                    <p><i class="fa-solid fa-phone"></i> <%= relay.phone %><br></p>
                    <p><i class="fa-solid fa-envelope"></i> <%= relay.email %><br></p>
                </div>
                <hr>
                <div class="relay_point__relay--select"><input type="radio">Sélectionnez</div>
            </div>
        <% end %>
    </div>


</div>


