<div class="relay_points">
  <% @relay_points.each do |relay| %>
    <label>
      <input type="radio" name="relay_point" class="card-input-element" />
      <div class="panel-default card-input">
        <h5 class="order__relay__point">Point relai : <%= relay.name %></h5>
        <p class=""><i class="fa-solid fa-map-location-dot"></i></p>
        <div class="relay_point__relay__infos">
          <p><i class="fa-solid fa-map"></i> <%= relay.address %></p>
          <p><i class="fa-solid fa-phone"></i> <%= relay.phone %></p>
          <p><i class="fa-solid fa-envelope"></i> <%= relay.email %></p>
        </div>
      </div>
    </label>
  <% end %>
</div>
