<main class="">
  <section class="section__banner">
    <div>
      <h1>Réduissons le gaspillage alimentaire.</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iusto autem consectetur ducimus exercitationem, obcaecati animi vitae est illum aliquid placeat nesciunt sint quasi! Vel praesentium aut nisi. Repellendus, maxime?</p>
      <button class="btn btn-primary btn-lg">Produits</button>
    </div>
  </section>
  <div class="container-medium">
    <div class="paragraphe">
      <h2 class="paragraphe__title">Qui sommes nous ?</h2>
      <p>Chaque jour, des aliments frais sont gaspillés dans des commerces, simplement parce qu'ils n'ont pas été vendus à temps. L'application Too Good To Go permet aux utilisateurs d'acheter des Paniers Surprise composés de produits invendus à petits prix.</p>
    </div>
    <div class="cards">
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
    </div>
  </div>
  
  <section>
    <div class="container-large">
      <div class="banner__margin--top">
        <img class="banner__img" src="https://images.unsplash.com/photo-1536919011766-09449b44af40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" alt="#">
      </div>
    </div>
  </section>
  
  <section class="">
    <div class="container-medium">
      <div class="paragraphe">
        <h2 class="paragraphe__title">Lorem ipsum dolor sit</h2>
        <p>The following principles for accessible design are approaches that can help anticipate, include, and respond to the needs of individuals. They're considerations for design, development, collaboration, and co-creation that encourage inclusive and equitable outcomes.</p>
      </div>
      <div class="features">
        <div class="feature__home">
          <div class="feature__home__content">
            <h3>Vous êtes  commerçant et vous avez des invendus alimentaires ?</h3>
            <p>Gaspy peut vous permettre de réduire votre gaspillage alimentaire tout en attirant de nouveaux clients et en réduisant vos pertes.</p>
          </div>
          <div class="feature__home__img--wrapper">
            <img class="feature__home__img" src="https://source.unsplash.com/random/500x500" alt="">
          </div>
        </div>
        <div class="feature__home--reverse">
          <div class="feature__home__content">
            <h3>Nos initiatives anti gaspillage</h3>
            <p>Nous travaillons avec les pouvoirs publics, les commerçants et les écoles pour lutter contre le gaspillage alimentaire à tous les niveaux.</p>
          </div>
          <div class="feature__home__img--wrapper">
            <img class="feature__home__img" src="https://source.unsplash.com/random/500x500" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>