<main class="">
  <section class="section__banner">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim iusto autem consectetur ducimus exercitationem, obcaecati animi vitae est illum aliquid placeat nesciunt sint quasi! Vel praesentium aut nisi. Repellendus, maxime?</p>
    <button></button>
  </section>
  
  <div class="container-large">
    <div class="paragraphe">
      <h2 class="paragraphe__title">Lorem ipsum dolor sit</h2>
      <p>The following principles for accessible design are approaches that can help anticipate, include, and respond to the needs of individuals. They're considerations for design, development, collaboration, and co-creation that encourage inclusive and equitable outcomes.</p>
    </div>
    <div class="cards">
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
      <a class="card__home__link" href="#">
        <div class="card__home">
            <img class="card__home__img" src="https://source.unsplash.com/random/1000x500" alt="">
            <div class="card__home__content">
              <h3 class="card__home__title">Card title</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
            </div>
        </div>
      </a>
    </div>
  </div>
  
  <section>
    <div class="container-large">
      <div class="paragraphe">
        <h2 class="paragraphe__title">Lorem ipsum dolor sit</h2>
        <p>The following principles for accessible design are approaches that can help anticipate, include, and respond to the needs of individuals. They're considerations for design, development, collaboration, and co-creation that encourage inclusive and equitable outcomes.</p>
      </div>
      <img class="banner__img" src="https://source.unsplash.com/random/2000x1000" alt="#">
    </div>
  </section>
  
  <section class="">
    <div class="container-large">
      <div class="paragraphe">
        <h2 class="paragraphe__title">Lorem ipsum dolor sit</h2>
        <p>The following principles for accessible design are approaches that can help anticipate, include, and respond to the needs of individuals. They're considerations for design, development, collaboration, and co-creation that encourage inclusive and equitable outcomes.</p>
      </div>
      <div class="elements">
        <div class="element__home">
          <h3>Material blog</h3>
          <p>News, tutorials, and inspiration from the Material team</p>
        </div>
        <div class="element__home">
          <h3>Figma design kit</h3>
          <p>Customizable styles and components to help you design with Material 3</p>
        </div>
        <div class="element__home">
          <h3>Get started</h3>
          <p>Guides, videos, and tools to start building with Material</p>
        </div>
        <div class="element__home">
          <h3>Develop</h3>
          <p>Code and developer documentation for Android, Flutter, and the Web</p>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="container-large">
      <div class="paragraphe">
        <h2 class="paragraphe__title">Lorem ipsum dolor sit</h2>
        <p>The following principles for accessible design are approaches that can help anticipate, include, and respond to the needs of individuals. They're considerations for design, development, collaboration, and co-creation that encourage inclusive and equitable outcomes.</p>
      </div>
      <div class="features">
        <div class="feature__home">
          <div class="feature__home__content">
            <h3>Learn before, not after</h3>
            <p>
              Universal default experiences rarely meet everyone’s needs. Introducing customizable features in a default experience allows room for individual adaptation. Honoring the shifting needs of any person can mean giving more freedom to choose things for themselves.
  
              Because a person's experience throughout their day, or year, or life can continue to change, it helps to support varying preferences and choices that allow individuals to address how their changing conditions, individual knowledge, and varying needs are met.
              </p>
          </div>
          <div class="feature__home__img--wrapper">
            <img class="feature__home__img" src="https://source.unsplash.com/random/500x500" alt="">
          </div>
        </div>
        <div class="feature__home--reverse">
          <div class="feature__home__content">
            <h3>Requirements as a starting point</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
          </div>
          <div class="feature__home__img--wrapper">
            <img class="feature__home__img" src="https://source.unsplash.com/random/500x500" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</main>