.cards__products {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  width: 100%;
}

.card__product {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: #f8fafd;
  transition: 300ms;
  width: 100%;
  height: 100%;
  border: #d8dee4 1px solid;

  & p {
    margin: 0;
  }
}

.card__product__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  &--wrapper {
  }
}

.card__product__content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__product__infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__product__price {
  font-size: 1.5rem;
  color: $blue;
}

.card__procduct__btn {
  margin-top: auto;
}