.nav {
  padding: 1.5rem 0;
  background-color: $light-gray;
  border-bottom: 1px solid #d8dee4;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  color: #79797C;
}

.nav-action {
  gap: 2rem;
}

.nav_logo {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.nav_img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}

.nav__item {
  &__basket {
    & a {
      color: $black;
    }
  }

  & a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    & i {
      margin-bottom: 7.5%;
    }
  }
}