.payment_methode--box{
    padding: 20px 150px;
}
.payment_methode--ico{

}
.payment_methode--submit{
    background-color: $primary;
    border-radius: 10px;
    padding: 10px 10px;
    color:white;
    font-weight: bold;
    margin-top: 80px;

}

.icon1{
    color: #1E90FF;
    font-size: 4rem;
    text-align: center  ;
    display: block;
   }
   .icon2{
     color: #0000FF;
     font-size: 4rem;
     text-align: center  ;
     display: block;
    }
    .icon3{
     color: #FFD700;
     font-size: 4rem;
     text-align: center  ;
     display: block;
    }
