.relay_point__box{
    color: gray;
    padding: 20px 150px
}
.relay_point__box--card{
    display: flex;
    padding: 0 150px;
}
.relay_point__relay{
    border: 2px;
    border-color: gray;
    width: 400px;
    height: 500px;
    border-style: solid;
    padding: 10px 10px;
    margin-right: 20px;
}
.relay_point__relay h4{
    background-color: $primary;
    text-align: center;
    color: white;
}

.relay_point__relay--img {
    text-align: center;
    .fa-solid{
        font-size: 130px;
    }
}
.relay_point__relay--infos{
    font-size: 18px;
    .fa-solid{
        font-size: 20px;
    }
}
.relay_point__relay--select{
    background-color: $primary;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
