
.card_relay{
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
  border: solid;

}
.relay_points{
  margin: 50px;
  display: flex;
}
.card_relay {
  margin: inherit;
}
.card_relay {
  padding: 2rem;
}
.fa-solid{
 color: red;
 font-size: 2rem;
}
