// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/paiement";
@import "components/payment_methode";
@import "components/relay_pointv";
@import "pages/index";
@import "CSS/basket_show";
@import "CSS/products_table";

.container-large {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
}

.padding-global {
  margin: 0 2.5rem;
}