// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "components/paiement";
@import "components/payment_methode";
@import "components/relay_pointv";
@import "pages/index";
@import "pages/validation";
@import "CSS/basket_show";
@import "CSS/products_table";

.container-large {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.container-medium {
  width: 100%;
  max-width: 64rem;
  margin: 0 auto;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
}

.padding-global {
  margin: 0 2.5rem;
}

.decoration-none {
  text-decoration: none;
}

.divider {
  margin: 1rem 0;
  border-bottom: #d8dee4 1px solid;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 h2 h3 h4 h5 h6 {
  font-weight: 700;
}

header-1 {
  font-size: 4rem !important;
}

header-2 {
  font-size: 3rem !important;
}

header-3 {
  font-size: 2rem !important;
}

header-4 {
  font-size: 1.5rem !important;
}

header-5 {
  font-size: 1rem !important;
}

header-6 {
  font-size: 0.75rem !important;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
}
