.basket__header{
    display: flex;
    justify-content:space-between;
}

.basket__header--tarif{
    display: flex;
    // align-items: center;
}
.basket__header--tarif--p{
    font-size: 28px;
    font-weight: bolder
}