.table__title{
    height: 50px;
    background-color: gray;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: black;

}
.table__line--qte{
    background-color: $primary;
    width: 70px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    border: none;
    text-align: center;
}
.table__line--tot{
    border: none;
    color: $primary;
    font-weight: bold;
    font-size: 30px;
    background-color: transparent;
    width: auto;
}
.table__line--tot::after{
    content:"€";
}
.table__line__btn--moins>i{
    // border:
    // background-color: red;
    // color: white;
    // background-color: burlywood;
}
