<section class="section__index__product">
  <div class="container-medium">
   <h1 class="header-2">Produits</h1>
    <div class="cards__products">
      <%= render "shared/card_product" %>
    </div>
  </div>
</section>